{% extends 'base.html' %}
{% block title %} Edit Profile Page{% endblock title %}

{% block main_content %}

{% if user.is_authenticated %}
    <h1>Edit Profile</h1>
        <div class="form-group">
            <form method="POST"  enctype = "multipart/form-data">
                {% csrf_token %}
                <div>
                    {{ form.as_p  }} <br/>
                </div>
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
        </div>

{% else %}
    You're not allowed here! Only the Author can perform update.
   
{% endif %}

{% endblock main_content %}